@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

body {
    background-color: rgb(134, 109, 235);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center

    
}

 
.main {
    height: 100vh;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lobster";
    

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.section1 {
    gap: 15px;
    height: 650px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 114);
    color: white;
    box-shadow: 0px 3px 10px black;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.section1 h3 {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2 {
    
    height: 100%;
    width: 450px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(188,44,180,1) 0%, rgba(49,223,75,1) 35%, rgba(0,212,255,1) 100%);
    height: 150px;
    width: 450px;
    color: rgb(9, 9, 62);
    box-shadow: 0px 3px 10px black;
    z-index: 2;
}

.header h1 {
    font-size: 50px;
     
}
  
  #container {
    display: grid;
    grid-gap: 0;
    height: 450px;
    width: 450px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    align-content: center;
    box-shadow: 0px 3px 10px black;
    z-index: 2;
  }
  
  .grid-item-small {
    display: inline-block;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  .grid-item-medium {
    
    
    text-align: center;
    background-color: white;
  }

  .grid-item-large {
    
    
    text-align: center;
    background-color: white;
  }

  .madeBy {
    height: 50px;
    width: 450px;
    background-color:rgb(22, 22, 114);
    color: white;
    box-shadow: 0px 3px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .buttons button {
    height: 40px;
    width: 65px;
    background: white;
    color: rgb(9, 9, 62);
    box-shadow: 0px 3px 10px black;
    font-family: "Robot Condensed";
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    
  }

  .buttons button:hover {
    opacity: 0.8;
  }

  .secondTypeBtn {
    height: 40px;
    width: 75px;
    background: white;
    color: rgb(9, 9, 62);
    box-shadow: 0px 3px 10px black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-family: "Robot Condensed";
  }

  .secondTypeBtn:hover {
    opacity: 0.8;
  }

  #colorpicker {
    height: 75px;
    width: 75px;
    box-shadow: 0px 3px 10px black;
    cursor: pointer;
    appearance: none;
    border-radius: 5px;
  }
